In [28]:
import pandas as pd
Final = pd.read_csv("D:/김정재/서경대학자료/서경대4학년/데이터크롤링/Final.csv", encoding="cp949")
annlyze = pd.DataFrame(Sum, columns = ('업종분류','개수'))
annlyze.to_csv('./test.csv', encoding = 'cp949', mode = 'w', index = True)
annlyze

                  업종분류   개수
한식 음식점업            186  NaN
기타 주점업              82  NaN
비알콜 음료점업            80  NaN
분식 및 김밥 전문점         57  NaN
체인화 편의점             48  NaN
...                ...  ...
중고 자동차 판매업           1  NaN
스포츠 교육기관             1  NaN
가방 및 기타 가죽제품 소매업     1  NaN
욕탕업                  1  NaN
백화점                  1  NaN

[107 rows x 2 columns]

In [29]:
Final['업종분류'].value_counts()

한식 음식점업             186
기타 주점업               82
비알콜 음료점업             80
분식 및 김밥 전문점          57
체인화 편의점              48
                   ...
중고 자동차 판매업            1
스포츠 교육기관              1
가방 및 기타 가죽제품 소매업      1
욕탕업                   1
백화점                   1
Name: 업종분류, Length: 107, dtype: int64